<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="databaseIP" value="localhost" />
    <add key="databasePort" value="1433" />
    <add key="databaseName" value="PeopleDatabase" />
    <add key="databaseUsername" value="user0" />
    <add key="databasePassword" value="user0" />
  </appSettings>
</configuration>